  <div class="POI-box"  *ngFor="let POI of POIs" (click)="editPOI(POI.id)" >
      <p>Name:{{POI.name}}</p>
      <p>Description:{{POI.description}}</p>
      <p>Rating:{{POI.rating}}</p>
      <h3>Location</h3>
      <p>Lat:{{POI.location.lat}}</p>
      <p>Lon:{{POI.location.lon}}</p>
      <hr>
      <button type="button" name="button" (click)="delete(POI); $event.stopPropagation()">delete</button>
  </div>
