<header>
  <h1>dynamicAI CMS</h1>
</header>
<nav>
  <ul class="">
    <li><a href="/">List all pois</a></li>
    <li><a href="/poi">Add a new POI</a></li>
  </ul>
</nav>
 <router-outlet></router-outlet>
<footer></footer>
