<div class="POI-single-box" *ngIf="!isNew">
  <div [hidden]="isHidden">
    <div [hidden]="isEditIntend">
      <h1>Edit POI : {{poi.name}}</h1>
      <hr>
      <p>{{poi.description}}</p>
      <hr>
      <h1>Location</h1>
      <p>lat: {{poi.location.lat}}</p>
      <p>long: {{poi.location.lon}}</p>
      <hr>
      <h2>Intends</h2>
      <p class="POI-single-box intend" *ngFor="let intend of poi.tags" (click)="goToEditIntend(intend)">{{intend}}
         <button type="button" name="button" (click)="deleteIntend(intend);$event.stopPropagation()">Delete</button>
      </p>
      <hr>

     <p><button type="button" name="button" (click)="changeIsHidden()">Edit</button></p>
     <p><button type="button" name="button" (click)="changeIntendInput()">New intend</button></p>
     <div [hidden]="!isIntendInput">
     <p>Add new Intend</p>
     <input #inputIntend type="text" name="" (keydown)="addNewIntend($event,inputIntend.value)">
    </div>
   </div>

   <div [hidden]="!isEditIntend">
     <button type="button" name="button" (click)="changeIsIntendEdit()">Back</button>
     <p>Edit intend</p>
     <input type="text" name=""  [value]="selectedIntend"  #editIntendId (keydown)="editIntend($event,editIntendId.value,selectedIntend)">
   </div>
  </div>
  <div [hidden]="!isHidden">
    <p>Name</p>
    <input type="text" name="name" [(ngModel)]="poi.name">
    <p>Description</p>
    <input type="text" name="description" [(ngModel)]="poi.description">
    <p>Rating</p>
    <input type="text" name="rating" [(ngModel)]="poi.rating">
    <h1>Location</h1>
    <p>Lan</p>
    <input type="text" name="" [(ngModel)]="poi.location.lat">
    <p>Lon</p>
    <input type="text" name="" [(ngModel)]="poi.location.lon">
    <hr>
    <button type="button" name="button" (click)="editPOI(poi)">Save</button>
    <br>
    <button type="button" name="button" (click)="changeIsHidden()">Back</button>
  </div>
</div>


<div class="POI-single-box" *ngIf="isNew">
  <p>Name</p>
  <input type="text" name="name" [(ngModel)]="poi.name">
  <p>Description</p>
  <input type="text" name="description" [(ngModel)]="poi.description">
  <p>Rating</p>
  <input type="text" name="rating" [(ngModel)]="poi.rating">
  <h1>Location</h1>
  <p>Lan</p>
  <input type="text" name="" [(ngModel)]="poi.location.lat">
  <p>Lon</p>
  <input type="text" name="" [(ngModel)]="poi.location.lon">
  <hr>

  <button type="button" name="button" (click)="addPOI(poi)">Add</button>
</div>
