html,body,*{
  padding: 0;
  margin: 0;
  font-size: 105%;
  box-sizing: border-box;
}

header{
  height: 15vh;
  background: #5c84aa;
  color:white;
  border-bottom: 1em solid #1e2b38;
}

footer{
  /*height: 100vh;
  background: #5c84aa;
  color:white;
  border-top: 1em solid #1e2b38;
  clear: both;*/
}
header h1{
  font-size: 2em;
  margin: 0;
  padding:0.3em;
  text-align: center;
  color: white;
}

.POI-box{
  float: left;
  cursor: pointer;
  width:45%;
  margin: 2em;
  padding:1em;
  border: 1px solid gray;
  border-radius: 10px;
}

.POI-single-box{
  width:70%;
  margin: 2em auto;
  padding:1em;
  border: 1px solid gray;
  border-radius: 10px;
}


.POI-single-box.intend{
  margin: 2em;
  width: 50%;
  cursor: pointer;
}
